.profile__text {
  padding: 0 0 33px;
}

@media screen and (min-width: 619px) {
  .profile__text {
    text-align: left;
    padding: 0;
    width: 260px;
  }
}

@media screen and (min-width: 880px) {
  .profile__text {
    width: 336px;
  }
}

